* {
    box-sizing: border-box;
  }

body {

    text-align: center;
    font-family: prometo, Arial, Helvetica, sans-serif;
    font-kerning: normal;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    
    min-height: 100vh;
    justify-content: center;

}

.timer-count {
  font-size: xx-large;

}

#high-scores { 
    margin-top: 100px;
    color: inherit;
    text-decoration: none;  
} 

/*button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    font-family: prometo, sans-serif;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  } */